.idea
appinventor/aimerger/aimerger.iml
appinventor/aimerger_for_appinv_classic/aimerger_for_appinv_classic.iml
appinventor/appengine/appengine.iml
appinventor/blocklyeditor/blocklyeditor.iml
appinventor/buildserver/buildserver.iml
appinventor/common/common.iml
appinventor/components/components.iml
